@import "@/styles/mixins";
@import "@/styles/typography";
@import "@/styles/variables";
.bitrix-overview__image__business {
    position: relative;
    max-width: 100%;
    width: 100%;
    overflow: hidden;
    height: 100%;
    @include tablet {
        height: 500px;
    }
    .test-business{
        position: absolute;
        max-width: 100%;
        width: 100%;
        height: 100%;
        // background-image: url('/images/FrameBusiness.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
       
    }
}