@import "@/styles/mixins";
@import "@/styles/typography";
@import "@/styles/variables";
.bitrix-business__container {
    display: flex;
    gap: 20px;
 justify-content: center ;
    width: 100%;
    margin-top: 120px;
    @include tablet {
      flex-direction: column;
      gap: 16px;
      align-items: center;
      margin-top: 80px;
    }
    @include mobile-big {
      flex-direction: column;
      gap: 16px;
      margin-top: 60px;
    }
 
    
}
.bitrix-business-left {
width: 100%;
  max-width: 535px;
  flex: 1;
display: grid;
grid-template-rows: auto 1fr;
gap: 20px;
// @include tablet-big {
      
// }

@include mobile-big  {
gap: 16px;
}
}
.bitrix-business-right {
  flex: 1;

  display: grid;
  grid-template-rows: 1fr auto;
  gap: 24px;
justify-content: space-between;
max-width: 535px;
    @include pc{
      // gap:15px
    }
  
    @include mobile-big {
      gap: 16px;
    }
   
}