@import "@/styles/mixins";
@import "@/styles/typography";
@import "@/styles/variables";

.certificates {
  .container {
    background-color: transparent;
    padding: 100px 0 20px;
    width: 100%;
    max-width: 768px;
    display: grid;
    grid-template-rows: 60% 1fr;
  }

  &__img-wrapper {
    margin: 0 auto;
    position: relative;
    object-fit: contain;
    // display: grid;
    place-content: center;
  }

  &__main-img {
    border-radius: 10px;
    height: 90%;
    max-height: fit-content;
    width: 100%;
    object-fit: contain;
    margin: 0 auto;

    @include mobile() {
      width: 90%;
      height: auto;
      max-height: 300px;
    }

    // @media (min-height: 750px) and (max-width: 525px) {
    //   max-height: 400px;
    // }

    // @media (min-height: 850px) and (max-width: 525px) {
    //   max-height: 480px;
    // }
  }

  .certificates-navigation {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
  }

  .certificates-prev,
  .certificates-next {
    background: none;
    border: none;
    cursor: pointer;
    @include mobile-big {
        width: 48px;
    }
  }

  .certificates-next {
    rotate: 180deg;
  }
  .swiper {
    width: 100%;
    grid-row-start: 2 span;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    &-wrapper {
      align-items: center;
      height: fit-content !important;
    }
    &-slide {
      scale: 0.9;
      transition: 0.3s ease;
      display: grid;
      height: fit-content !important;
      place-items: center;
      background: none !important;
      padding: 0 !important;
      &-active {
        scale: 1;
      }

      &:first-child {
        padding-bottom: 20px;
      }
    }
    img {
      width: 100%;
      border-radius: 16px;
      cursor: pointer;
      @include tablet() {
        border-radius: 10px;
      }
    }

    &-button-prev,
    &-button-next {
      background-image: url("https://static.tildacdn.com/tild3465-6232-4063-b664-646632366663/arrow.svg");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      width: 32px;
      height: 32px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      &::after {
        all: unset;
      }
    }

    &-button-next {
      transform: rotate(360deg);
    }

    &-button-prev {
      transform: rotate(180deg);
    }
  }

  .close_popup {
    position: absolute;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
    background: none;
    border: none;
    border-radius: 50%;

    img {
      border-radius: 50%;
    }
  }

  @media (max-height: 600px) {
    .container {
      grid-template-rows: 300px 150px;
      gap: 20px;
      padding: 60px 0;
    }

    &__main-img {
      width: 60%;
    }

    .swiper {
      img {
        height: 150px;
        width: auto;
      }
      &-slide:first-child {
        height: auto;
        width: 100px !important;
        img {
          width: 100px !important;
          height: auto;
          border-radius: 10px;
        }
      }
    }
  }
}
