$animation-time: 5s;
$delay-time: 1s;

.animatedBg {
  width: 100vw;
  height: 100vh;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: -5;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -7;
  }
  
  .picture-2 {
    opacity: 1;
    z-index: -10;
  }
  
  .remove {
    opacity: 0;
    animation: fadeIn $animation-time linear forwards;
    filter: blur(10px);
    scale: 1.4;
  }
  
  .picture-3 {
    animation-delay: $delay-time + 0s; 
  }
  
  .picture-4 {
    animation-delay: $delay-time + $animation-time; 
  }
  
  .picture-5 {
    animation-delay: $delay-time + $animation-time * 2; 
  }
  
  .picture-6 {
    animation-delay: $delay-time + $animation-time * 3; 
  }
  
  .picture-7 {
    animation-delay: $delay-time + $animation-time * 4; 
  }
  
  .picture-8 {
    animation-delay: $delay-time + $animation-time * 5; 
  }
  
  .picture-9 {
    animation-delay: $delay-time + $animation-time * 6; 
  }
  
  .picture-10 {
    animation-delay: $delay-time + $animation-time * 7; 
  }
  
  .picture-11 {
    animation-delay: $delay-time + $animation-time * 8; 
  }
  
  .picture-12 {
    animation-delay: $delay-time + $animation-time * 9; 
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

